#ben img {
  width: 10%;
  border-radius: 50%;
  margin-top: 8%;
  margin-left: 3%;
}
#kedi img {
  margin-left: 8%;
  width: 180px;
  height: 250px;
}
.img-1,
.img-2 {
  width: 400px;
  height: 250px;
}
ul.navbar {
  /* padding-left: 50px; */
}

.cerceve {
  width: 400px;
  height: 250px;
  overflow: hidden;
  border: 2px solid gray;
  position: relative;
  margin-left: 30%;
}
.cerceve img {
  width: 50%;
  float: left;
}
.img-1 {
  left: 0px;
}
.img-2 {
  left: 400px;
}
.cerceve > .galeri {
  position: absolute;
  left: 0px;
  width: 800px;
  height: 250px;
  animation-duration: 8s;
  animation-name: sliders;
  animation-iteration-count: infinite;
}
.galeri:hover {
  animation-play-state: paused;
}
@keyframes sliders {
  0% {
    left: 0px;
  }
  40% {
    left: 0px;
  }
  45% {
    left: -400px;
  }
  85% {
    left: -400px;
  }
}
h2 {
  font-family: Ubuntu;
  color: black;
  font-style: oblique;
  font-size: 170%;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 140%;
  color: darkred;
  margin-left: -80%;
}
p {
  font-family: Raleway;
}
.paragraf {
  color: black;
  font-size: 18px;
  margin-left: 15%;
  text-align: center;
  width: 70%;
  background-color: bisque;
}
.paragraf {
  margin-top: -15%;
}
#logo a img {
  width: 10%;
  margin-left: 5%;
  border-radius: 50%;
}

body {
  background-color: whitesmoke;
}
footer {
  font-size: 16px;
  color: bisque;
  background-color: darkcyan;
  text-align: center;
}
.fa-brands {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  #kedi img {
    margin-left: 8%;
    width: 126px;
    height: 175px;
  }

  .cerceve {
    width: 240px;
    height: 150px;
    overflow: hidden;
    border: 2px solid gray;
    position: relative;
    margin-left: 20%;
  }
  .cerceve img {
    width: 50%;
    float: left;
  }
  .img-1 {
    left: 0px;
  }
  .img-2 {
    left: 240px;
  }
  .cerceve > .galeri {
    position: absolute;
    left: 0px;
    width: 480px;
    height: 150px;
    animation-duration: 8s;
    animation-name: sliders;
    animation-iteration-count: infinite;
  }
  .galeri:hover {
    animation-play-state: paused;
  }
  @keyframes sliders {
    0% {
      left: 0px;
    }
    40% {
      left: 0px;
    }
    45% {
      left: -240px;
    }
    85% {
      left: -240px;
    }
  }
}
