* {
  list-style: none;
  border: 0;
}
a {
  text-decoration: none;
}
ul.navbar {
  background-color: darkcyan;
  height: 90px;
  width: 101%;
  margin-top: -1%;
  margin-left: -1%;
}
ul.navbar > li {
  margin-top: 2%;
  margin-left: 5%;
  float: left;
  height: 30px;
  position: relative; /* alt menülerin doğru seçeneğin altında çıkmasını sağlar. */
}
ul.navbar > li > a {
  display: block;
  font-size: 18px;
  margin-left: -40%;
  color: bisque;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.7s;
  font-family: inherit !important ;
  font-style: oblique !important;
}
ul.navbar a:hover,
ul.navbar a:focus {
  color: brown;
}
ul.navbar ul {
  background-color: rgb(7, 174, 174);
  width: 200px;
  position: absolute;
  top: 40px;
  left: 0px;
  opacity: 0; /*alt menü ilk başta gözükmeyecek*/
  transition: 0.5s;
  visibility: hidden; /* sadece ana menünün üstüne gelince drop menü açılır*/
}
ul.navbar ul li a {
  display: block;
  color: bisque;
}
ul.navbar > li:hover > ul,
ul.navbar > li:focus > ul {
  opacity: 1;
  visibility: visible;
  top: 80%;
  left: 40%;
}
ul.navbar > li ul ul {
  top: 0;
  left: 70%;
}
ul.navbar ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 80%;
  left: 70%;
  transition: 0.5s;
}
@media screen and (max-width: 870px) {
  ul.navbar > li > a {
    font-size: 12px;
  }
  ul.navbar {
    height: 70px;
  }
  ul.navbar ul li:hover > ul,
  ul.navbar > li:hover > ul {
    font-size: 12px;
    width: 150px;
    top: 30px;
  }
}
@media screen and (max-width: 700px) {
  ul.navbar > li > a {
    font-size: 9px;
  }
  ul.navbar {
    height: 50px;
  }
  ul.navbar ul li:hover > ul,
  ul.navbar > li:hover > ul {
    font-size: 9px;
    width: 120px;
    top: 25px;
  }
}
