body {
  /* padding: 15px; */
  /* background-color: darkcyan !important; */
}

.container {
  background-color: white;
  /* border-radius: 30px; */
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.navbar {
  padding: 0% 5% 0% 5%;
  /* border-top-left-radius: 30px; */
  /* border-top-right-radius: 30px; */
}
.navbar-nav li {
  margin: 5px;
}
.navbar-nav li i {
  margin: 8px;
  margin-left: 30px;
}

.container .btn {
  border-radius: 10px;
}
#navbar > li > a {
  border-right: 1px solid #9a9d9f7f;
  font-family: inherit !important ;
  font-style: oblique !important;
}
#navbar a:hover,
.btn:hover {
  transition: 0.7s;
  color: brown;
}
#navbar ul {
  background-color: #212529;
  list-style: none;
  position: absolute;
  opacity: 0; /*alt menü ilk başta gözükmeyecek*/
  transition: 0.5s;
  visibility: hidden; /* sadece ana menünün üstüne gelince drop menü açılır*/
}
a {
  color: #9a9d9f;
  text-decoration: none;
}
#navbar ul li {
  width: 170px;
}
#miras {
  margin-left: 20%;
}
#dropdown {
  margin-left: 15%;
}
#navbar ul li ul li {
  width: 200px;
}
#navbar > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 95%;
  left: 35%;
}
#navbar ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 80%;
  left: 80%;
  transition: 0.5s;
}
#active {
  text-decoration: underline;
}
#çizgi {
  margin-left: -10%;
  opacity: 20%;
  width: 100%;
  border: 1px solid whitesmoke;
  margin-top: 3%;
}
