.stadyum {
  color: black;
  padding: 2%;
  font-size: 18px;
  margin-left: 10%;
  margin-top: 4%;
  text-align: center;
  width: 80%;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
}
.tablo {
  width: 40%;
  margin-left: 30%;
}
table {
  text-align: center;
}
td {
  padding: 15px;
  border: 2px solid gray;
  text-align: center;
  font-size: 16px;
}
th {
  font-size: 20px;
  border: 2px solid gray;
  text-align: center;
  color: rgb(200, 0, 0);
}
#renk {
  color: rgb(200, 0, 0);
}
.cerceve {
  margin-left: 25% !important;
}
#logo {
  width: 19%;
}
@media screen and (max-width: 768px) {
  p {
    width: 80%;
    margin-left: 10%;
  }
  .tablo {
    margin-left: 25%;
  }
  h1 {
    margin-left: 15%;
  }
  .cerceve {
    margin-left: 10% !important;
    width: 300px !important;
    height: 150px !important;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
  }
  .cerceve img {
    width: 25%;
    float: left;
  }
  img {
    width: 300px;
    height: 150px;
  }
  .img-1 {
    left: 0px;
  }
  .img-2 {
    left: 300px;
  }
  .img-3 {
    left: 600px;
  }
  .img-4 {
    left: 900px;
  }
  .cerceve > .galeri {
    position: absolute;
    left: 0px;
    width: 1200px;
    height: 150px;
    animation-duration: 16s;
    animation-name: sliders;
    animation-iteration-count: infinite;
  }
  .galeri:hover,
  .galeri:checked {
    animation-play-state: paused;
  }
  @keyframes sliders {
    0% {
      left: 0px;
    }
    20% {
      left: 0px;
    }
    25% {
      left: -300px;
    }
    45% {
      left: -300px;
    }
    50% {
      left: -600px;
    }
    55% {
      left: -600px;
    }
    75% {
      left: -900px;
    }
    80% {
      left: -900px;
    }
  }
}
